# Copy this file to .env and fill in the required values.

VITE_YNAB_TOKEN=your-token-here
VITE_YNAB_BUDGET_ID=your-budget-id-here # Set your YNAB Budget ID here
# Note: If you don't set this, the app will not work properly with YNAB. If it's missing, in the console you will see a list of available budgets to choose from.
VITE_SETTLEUP_DUMMY=false # Set to true for dummy data, false for real data
VITE_FIREBASE_API_KEY=AIzaSyCfMEZut1bOgu9d1NHrJiZ7ruRdzfKEHbk # SettleUp Sandbox API Key
VITE_FIREBASE_AUTH_DOMAIN=settle-up-sandbox.firebaseapp.com # SettleUp Sandbox Auth Domain
VITE_FIREBASE_DATABASE_URL=https://settle-up-sandbox.firebaseio.com # SettleUp Sandbox Database URL
VITE_SETTLEUP_GROUP_NAME="your group name here" # SettleUp Test Group Name

# VPS Deployment Configuration
VPS_HOST=your-vps-ip-or-domain.com # VPS Host IP or Domain, without www prefix or http(s)://
VPS_USERNAME=github-deploy # VPS Username for deployment
VPS_DOMAIN=your-domain.com # Domain for the deployed application, without www prefix or http(s)://
VPS_EMAIL=your-email@example.com # Email for Let's Encrypt SSL certificate registration